<!DOCTYPE html>
<html>
  <head>
    <title>Leetspeak!</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Here's your phrase in Leetspeak!</h1>
    <p>@Model.IsLeetspeak()</p>
  </body>
</html>
